<footer class="footer">
  <div class="footer__container">

    <div class="footer__top">
      <p class="footer__identity">
        Plateforme Artisans Auvergne-Rhône-Alpes
      </p>

      
      <div class="footer__socials">

        <a
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook - ouvrir dans un nouvel onglet"
        >
         <i class="fa-brands fa-facebook-f" aria-hidden="true"></i>
        </a>

        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram - ouvrir dans un nouvel onglet"
        >
         <i class="fa-brands fa-instagram" aria-hidden="true"></i>
        </a>

        <a
          href="https://www.linkedin.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="LinkedIn - ouvrir dans un nouvel onglet"
        >
         <i class="fa-brands fa-linkedin-in" aria-hidden="true"></i>
        </a>

      </div>
    </div>

    <div class="footer__info">
      <h2>Antenne de Lyon</h2>

      <p>
        101 cours Charlemagne<br>
        CS 20033<br>
        69269 Lyon CEDEX 02
      </p>

      <p>
        +33 (0)4 26 73 40 00
      </p>
    </div>

    <div class="footer__bottom">
      <div class="footer__legal">

        <h2>Informations légales</h2>

        <a routerLink="/mentions-legales">Mentions légales</a>
        <a routerLink="/donnees-personnelles">Données personnelles</a>
        <a routerLink="/accessibilite">Accessibilité</a>
        <a routerLink="/cookies">Cookies</a>
        
      </div>

      <p class="footer__copyright">
        © 2026 Plateforme Artisans Auvergne-Rhône-Alpes
      </p>
    </div>

  </div>
</footer>